POSTGRES_DATABASE=delivery
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=postgres
POSTGRES_EXTERNAL_PORT=5433
HTTP_PORT=8080
HTTPS_PORT=44443
HTTP3_PORT=44443

DEPOT_ADDRESS="Москва, Сумской проезд 10"
YANDEX_API_KEY=d3ff7563-69de-4b9e-af98-19612e329f12
